
  *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }

  @font-face {
    font-family: ch-sans;
    src: url("ch-sans.ttf");
    font-style: regular;
  }

  .container {
    font-family: ch-sans;
  }

  .nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    min-height: clamp(80px,9vh,9vh);
    max-width: 1440px;
    margin: 0 auto;
    box-shadow: 0 1px 10px rgba(0,0,0,.1);
  }

  .logo {
    width: 100px;
    margin: 0 30px 0 100px;
    padding: 10px 0px;
  }

  .subnav {
    margin: 0 20px 0 0;
    font-size: 1.5em;
    font-weight: bold;
  }

  .subnav:hover {
    color: #990000;
  }

  .intLogin {
    display: flex;
    font-size: 1.25em;
    margin-left: auto;
    margin-right: 100px;
    padding: 10px 0px;
  }

  .sub_intLogin {
    display: flex;
    cursor: pointer;
    margin-left: 1em;
  }

  .sub_intLogin:hover path {
    fill: #990000;
  }

  .sub_intLogin:hover span {
    color: #990000;
    text-decoration: underline;
  }
  .intLogin:nth-child(0), .intLogin:nth-child(1), .intLogin:nth-child(2) {
    cursor: pointer;
  }
  .intLoginText{
    align-self: center;
  }

  .icons {
    margin-right: .5em;
  }

  .icon_magnifier {
    transform: rotateY(.5turn);
  }

  .title {
    display: grid;
    min-height: 11vw;
    max-width: 1440px;
    margin: 80px auto 50px auto;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  }

  .title1 {
    align-self: start;
    min-height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 2rem;
    line-height: 1.3;
    margin-left: 100px;
  }

  .subtitle {
    font-weight: bold;
    font-size: 1.2em;
  }

  .subtitle2 {
  }

  .filter_title {
    padding: 20px 0;
  }

  .title .filter_title {
    align-items: end;
    min-height: inherit;
    display: flex;
    justify-content: end;
    align-items: end;
    font-size: 1.3em;
    color: white;
    font-weight: bold;
  }

  .filter_title div {
    width: 180px;
    height: 61px;
    background-color: #c00;
    margin-bottom: 34px;
    display: flex;
    align-items: center;
    cursor: pointer;
    /* margin-top: 50px; */
    margin-top: auto;
    margin-bottom: auto;
  }

  .filter_title div:hover {
    background-color: #990000;
  }

  .icon_filter {
    margin-left: 20px;
    width: 24px;
    aspect-ratio: 1;
  }

  .topic_icon {
    background-image: url(icons/global--sprite.png);
    background-position: -387px -197px;
    width: 21px;
    height: 18px;
  }

  .categories span, .topics span {
    margin-left: 20px;
  }

  .topics {
    margin: 0 100px 0 10px;
  }

  .main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(501px, 1fr));
    max-width: 1440px;
    margin: auto auto 90px auto;
    row-gap: 120px;
    color: white;
    column-gap: 20px;
    text-shadow: 1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
  }

  .main > div {
    aspect-ratio: 16 / 10;
    cursor: pointer;
  }

  .mainItems {
    display: grid;
    grid-template-columns: 34px 1fr 49px;
    position: relative;
    margin: 0px 50px;
  }

  @keyframes grow {
        0% {
      transform: scale(1);
    }
        100% {
      transform: scale(1.03);
    }
    }

  @keyframes brillo {
        100% {
      filter: brightness(.5);
    }
    }

  .mainImg {
    grid-area: 1 / 1 / -1 / -1;
    width: 100%;
    height: 100%;
  }

  .mainItems:hover img {
    animation: grow 0.2s linear forwards, brillo 0.2s linear forwards;
  }

  .mainItems:hover div {
    animation: grow 0.2s linear forwards;
  }

  .mainItems div {
    z-index: 2;
  }

  .subItem {
    width: 64px;
    height: 64px;
    border-radius: 100%;
    background-color: #c00;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .subItem::after {
    content: '';
    display: block;
    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent;
    border-left: 16px solid #fff;
  }

  .subItem_texto {
    font-size: 2.2em;
    font-weight: bold;
    padding-right: 55px;
    line-height: 1;
    margin-top: 16px;
  }

  .subItem_subtexto {
    font-size: 0.8em;
    font-weight: bold;
    margin-bottom: 50px;
    margin-top: 5px;
  }

  .itemSmall {
    width: 65%;
    align-self: center;
    justify-self: center;
  }

  .flexEnGrid {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    flex-direction: column;
    justify-content: end;
  }

  .supraNews {
    background-color: #f2f2f2;
    padding-top: 90px;
  }

  .news {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    max-width: 1180px;
    margin: auto;
    gap: 20px;
    padding: 0px 20px;
  }

  .news > div {
    background-color: white;
    display: grid;
    grid-template-columns: auto 64px auto;
    grid-template-rows: 1fr 64px 1fr 30px 1fr;
    overflow: hidden;
    cursor: pointer;
    aspect-ratio: .9 / 1;
  }

  .n_subItem {
    width: 64px;
    height: 64px;
    border-radius: 100%;
    background-color: #c00;
    grid-area: 2/2/3/3;
    z-index: 2;
  }

  .n_subItem::after {
    content: '';
    display: block;
    margin: 23px 0px 0px 25px;
    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent;
    border-left: 16px solid #fff;
  }

  .newsImg {
    height: 100%;
    width: 100%;
    grid-area: 1/1/4/4;
  }

  .n_subitem1 {
    color: #cc0000;
    font-weight: bold;
    grid-area: 4/1/5/4;
    align-self: end;
    padding-left: 10px;
  }

  .n_subitem2 {
    grid-area: 5/1/6/4;
    align-self: center;
    font-size: 1.7em;
    font-weight: bold;
    padding-right: 50px;
    padding-left: 10px;
  }

  [class*=n_item]:hover > .newsImg {
    animation: grow 0.2s linear forwards;
  }

  [class*=n_item]:hover {
    box-shadow: 0 1px 10px rgba(0,0,0,.1);
  }

  .all_news {
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 15vh;
    padding: 80px;
  }

  .all_news_button {
    width: 260px;
    background-color: #c00;
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 1.3em;
    font-weight: bold;
  }

  .all_news_button:hover {
    background-color: #990000;
    cursor: pointer;
  }

  .slide {
    display: grid;
    grid-template-columns: 96px 1fr 96px;
    height: 606px;
    padding-bottom: 40px;
  }

  .content {
    grid-area: 1/2/2/3;
    display: grid;
    grid-template-rows: 1fr auto 60px 1fr;
    position: relative;
    overflow: hidden;
    color: white;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .imgDiv {
    grid-area: 1/1/2/4;
    background-image: url('img/elefanta_y_bebe.jpg');
    background-size: cover;
    background-position: center;
    filter: brightness(50%);
  }

  .content > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0% 51%;
  }

  .slide_title {
    grid-area: 1/2/2/3;
    font-size: 3.7em;
    font-weight: bold;
    align-self: end;
  }

  .slide_content {
    grid-area: 2/2/3/3;
    font-size: 1.5em;
    align-self: center;
    text-align: center;
    margin: 20px 0 20px 0;
  }

  .slide_button {
    grid-area: 3/2/4/3;
    width: 220px;
    height: 60px;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .slide_pagination {
    grid-area: 4/2/5/3;
    margin: 20px 0px;
  }

  @keyframes aparecerR {
    0% {
      transform: translateX(80px) scale(.1);;
    }
    100% {
      transform: translateX(0px) scale(1);;
    }
    }

  @keyframes aparecerL {
    0% {
      transform: translateX(-80px) scale(.1);
    }
    100% {
      transform: translateX(0px) scale(1);
    }
    }

  @keyframes desaparecerR {
    0% {
      transform: translateX(0px) scale(1);
    }
    100% {
      transform: translateX(80px) scale(.1);
    }
  }

  @keyframes desaparecerL {
    0% {
      transform: translateX(0px) scale(1);
    }
    100% {
      transform: translateX(-80px) scale(.1);
    }
  }

  .right {
    grid-area: 1/3/2/4;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6em;
    color: white;
    cursor: pointer;
    overflow: hidden;
  }

  .right_sub {
    transform: translateX(80px);
  }

  .left {
    grid-area: 1/1/2/2;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6em;
    color: white;
    cursor: pointer;
  }

  .left_sub {
    transform: translateX(-80px);
  }

  .left_sub > img, .right_sub > img {
    transform: scale(2);
  }
  .slide:hover .right_sub{
    animation: aparecerR .6s linear forwards;
  }

  .slide:hover .left_sub{
    animation: aparecerL .6s linear forwards;
  }

  .slide:not(:hover) .right_sub{
    animation: desaparecerR .6s linear forwards;
  }

  .slide:not(:hover) .left_sub{
    animation: desaparecerL .6s linear forwards;
  }

  .info {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(320px, 1fr));
    max-width: 1450px;
    margin: auto;
    gap: 20px 20px;
    padding: 20px 20px
  }

  .info_grid {
    display: grid;
    grid-template-rows: 55px 55px 55px 55px;
    align-items: center;
    border-bottom: 1px solid #d8d8d8;
    position: relative;
  }

  .info_title {
    font-weight: bold;
    font-size: 1.3em;
  }

  .info_links {
    border-top: 1px solid #d8d8d8;
    line-height: 55px;
    cursor: pointer;
    color: #6f6660;
    text-decoration: none;
  }

  .info_links:hover {
    text-decoration: underline;
  }

  .info_links::after {
    content: '';
    position: absolute;
    border-top: 4px transparent solid;
    border-bottom: 4px transparent solid;
    border-left: 4px #c00 solid;
    border-right: 4px transparent solid;
    right: 10px;
    margin-top: 25.5px;
  }

  .social{
    display: grid;
    grid-template-columns: 1fr 240px 1fr;
    grid-template-rows: 1fr;
    padding-bottom: 30px;
  }

  .inner-social {
    grid-area: 1 / 2 / 2 / 3;
    display: grid;
    grid-template-columns: 1fr repeat(5, 46px) 1fr;
    justify-items: center;
    height: 46px;
    align-items: center;
  }

  .inner-social div span {
    width: 17px;
    aspect-ratio: 1;
    background-size: cover;
    display: block;
    cursor: pointer;
  }

  .inner-social div:hover {
    border: 13px solid #f5f5f5;
    border-radius: 50%;
    background-color: #f5f5f5;
  }

  .back_facebook {
    grid-area: 1/2/2/3;
  }

  .facebook {
    background-image: url('icons/icon_facebook.svg');
  }

  .back_twitter {
    grid-area: 1/3/2/4;
  }

  .twitter {
    background-image: url('icons/icon_twitter.svg');
  }

  .back_linkedin {
    grid-area: 1/4/2/5;
  }

  .linkedin {
    background-image: url('icons/icon_linkedin.svg');
  }

  .back_instagram {
    grid-area: 1/5/2/6;
  }

  .instagram {
    background-image: url('icons/icon_instagram.svg');
  }

  .back_youtube {
    grid-area: 1/6/2/7;
  }

  .youtube {
    background-image: url('icons/icon_youtube.svg');
  }

  .footer{
    border-top: 1px solid #cccccc;
  }

  .footer > div {
    max-width: 1400px;
    min-height: 12vh;
    align-items: center;
    display: grid;
    grid-template-columns: 75px 195px 1fr 161px;
    margin: auto;
    padding: 0px 20px;
  }

  .footer_logo {
    grid-area: 1/1/2/2;
    background-image: url('logo.png');
    background-size: cover;
    width: 75px;
  }

  .footer_copyright {
    grid-area: 1/2/2/3;
    color: #6f6660;
    font-size: .8em;
    justify-self: center;
  }

  .footer_corporate_meta_links {
    grid-area: 1/3/2/4;
    justify-self: center;
  }

  .footer_corporate_meta_links a {
    text-decoration: none;
    color: #6f6660;
    font-size: .8em;
    margin: 0px 10px;
  }

  .footer_corporate_meta_links a:hover {
    text-decoration: underline;
  }

  .footer_logo2 {
    grid-area: 1/4/2/5;
    width: 161px;
  }

  .phone_f {
    display: none;
  }

  .phone_g {
    display: none;
  }

  /* TABLET  */
  @media (max-width: 1150px) {


    .footer > div {
      display: flex;
      flex-direction: column;
      padding: 20px 0px 0px 0px;
    }

    .footer > div div {
      margin-bottom: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      line-height: 20px;
    }

  }

  /* TABLET  */
  @media (max-width: 999px) {
    .topics {
      margin-right: 0px;
    }

    .title .filter_title {
      justify-content: center;
    }

    .title {
      padding: 0px 20px;
    }

    .title1 {
      margin-left: 0px;
      text-align: center;
    }

  }

  /* PHONE */
  @media (max-width: 767px) {
    .phone_f {
      display: flex;
    }

    .phone_g {
      display: grid;
    }

    .desktop {
      display: none;
    }

    .filter_title div.topics {
      width: 117px;
      height: 54px;
      margin-right: 0px;
    }

    .filter_title div.categories {
      width: 153px;
      height: 54px;
    }

    .title .filter_title {
      font-size: 1em;
      justify-content: center;
      margin-left: 0px;
      align-items: center;
    }

    .title {
      padding: 0px 10px;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }

    .title .title1 {
      margin-left: 0px;
      font-size: 1.3rem;
      text-align: center;
    }

    .mainItems:hover img {
      animation: '';
    }

    .mainItems:hover div {
      animation: '';
    }

    .mainItems {
      display: grid;
      grid-template-columns: 10px 1fr;
      position: relative;
      margin: 0px 10px;
      width: calc(100vw - 20px);
      aspect-ratio: 16 / 10;
    }

    .main {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(501px, 1fr));
      max-width: 1440px;
      margin: auto auto 90px auto;
      row-gap: 25px;
      color: white;
    }

    .mainImg {
      grid-area: 1 / 1 / -1 / -1;
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: brightness(.8);
    }

    .flexEnGrid {
      grid-area: 1 / 2 / 2 / 3;
      display: flex;
      flex-direction: column;
      justify-content: end;
      padding: 0px 10px 10px 10px;
    }

    .subItem::after {
      content: '';
      display: block;
      border-top: 9px solid transparent;
      border-bottom: 9px solid transparent;
      border-left: 16px solid #fff;
    }

    .subItem {
      width: 40px;
      height: 40px;
      border-radius: 100%;
      background-color: #c00;
    }

    .subItem_texto {
      font-size: 1.4em;
      font-weight: bold;
      line-height: 1;
      margin-top: 16px;
    }

    .subItem_subtexto {
      font-size: 0.8em;
      font-weight: bold;
      margin-bottom: 15px;
      margin-top: 5px;
    }

    .itemSmall {
      justify-self: auto;
    }

    .news {
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }

    .n_subItem::after {
      margin: 9px 0px 0px 13px;
      border-top: 9px solid transparent;
      border-bottom: 9px solid transparent;
    }

    .n_subItem {
      width: 35px;
      height: 35px;
      justify-self: center;
      align-self: center;
    }

    .n_subitem1 {
      font-size: .7rem;
    }

    .n_subitem2 {
      font-size: 1em;
    }

    .logo {
      margin: 0;
      margin-left: 20px;
      margin-right: auto;
    }

    .intLogin {
      margin-left: auto;
      margin-right: 20px;
    }

    .all_news_button {
      width: 170px;
      padding-top: 12px;
      font-size: 0.95em;
      height: 43px;
    }

    .slide {
      grid-template-columns: 1fr;
    }

    .imgDiv {
      grid-area: 1/1/2/2;
    }

    .content {
      grid-area: 1/1/2/2;
    }

    .slide_title {
      font-size: 1.7em;
    }

    .slide_content {
      font-size: 1em;
    }

    .slide_button {
      height: 50px;
    }

    .info {
      grid-template-columns: repeat(auto-fit,minmax(335px, 1fr));
    }

    .info .phone {
      display: grid;
    }

    .info_grid {
      border-bottom: 0px;
    }

    .info_title {
      font-size: 1em;
      line-height: 55px;
    }

    .info > div {
      aspect-ratio: 0;
    }

    .info_line {
      border-top: 1px solid #d8d8d8;
    }

    .info_title::after {
      content: '';
      position: absolute;
      border-top: 4px #c00 solid;
      border-bottom: 4px transparent solid;
      border-left: 4px transparent solid;
      border-right: 4px transparent solid;
      right: 10px;
      margin-top: 25.5px;
    }

  }
